<nlog throwExceptions="true" internalLogFile="Logs/nlog.txt" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="File" name="logfile" fileName="Logs/Dragons.Service_${date:format=yyyyMMdd}.txt" layout="${longdate}|${level:uppercase=true}|ClientId: ${mdlc:item=ClientId}|ApiKey: ${mdlc:item=ApiKey}|${logger}|${callsite}|${message}${onexception:|${exception:format=tostring}" keepFileOpen="true" />
    <!--<target xsi:type="Debugger" name="debugger" layout="${longdate}|${level:uppercase=true}|ClientId: ${mdlc:item=ClientId}|ApiKey: ${mdlc:item=ApiKey}|${logger}|${message}${onexception:|${exception:format=tostring}" />
    <target xsi:type="Console" name="console" layout="Date: ${longdate}${newline}Level: ${level:uppercase=true}${newline}ClientId: ${mdlc:item=ClientId}${newline}ApiKey: ${mdlc:item=ApiKey}${newline}Logging Class: ${logger}${newline}Function: ${callsite}${newline}Message: ${message}${newline}${onexception:${newline}Exception :${exception:format=tostring}${newline}" />
    <target xsi:type="EventLog" name="eventlog" machineName="." source="Dragons.Service" log="Application" layout="ClientId: ${mdlc:item=ClientId}${newline}ApiKey: ${mdlc:item=ApiKey}${newline}Class: ${logger}${newline}Callsite: ${callsite}${newline}Message: ${message}${onexception:${newline}${exception:format=tostring}" />-->
  </targets>
  <rules>
    <logger name="*" writeTo="logfile" minlevel="Info" />
    <!--<logger name="*" writeTo="debugger" minlevel="Info" />
    <logger name="*" writeTo="console" minlevel="Info" />
    <logger name="*" writeTo="eventlog" minlevel="Info" />-->
  </rules>
</nlog>